<!DOCTYPE html>




<html lang="en">


    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Home - TravelTales</title>

        <link rel="stylesheet" href="/Styles/view-style-overall.css">
        <link rel="stylesheet" href="/Styles/view-style-navbars.css">

    </head>


    <body>

        <%- include("../Partials/navbar-unsigned") %>

        <div id="bodycontainer">
            <h2>Welcome! Hello World~ :D</h2>
        </div>

    </body>


</html>