<!DOCTYPE html>




<html lang="en">


    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Search Results - TravelTales</title>

        <link rel="stylesheet" href="/Styles/view-style-overall.css">
        <link rel="stylesheet" href="/Styles/view-style-navbars.css">

        <script type="text/javascript" src="/Scripts/view-script-search.js" defer></script>

    </head>


    <body>

        <% if (isAuthenticated) { %>
        <%- include("../Partials/navbar-signed") %>
        <% } else { %>
        <%- include("../Partials/navbar-unsigned") %>
        <% } %>

        <div id="bodycontainer"></div>

    </body>


</html>