<!DOCTYPE html>




<html lang="en">


    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Logout - TravelTales</title>

        <link rel="stylesheet" href="/Styles/view-style-overall.css">
        <link rel="stylesheet" href="/Styles/view-style-navbars.css">

        <script type="text/javascript" src="/Scripts/view-script-logout.js" defer></script>

    </head>


    <body>

        <%- include("../Partials/navbar-signed") %>

        <div id="bodycontainer">
            <h2>Are you sure you want to log out of your account?</h2>
            <form>
                <table>
                    <tr>
                        <td><button type="submit" id="yes">Yes</button></td>
                        <td><button type="submit" id="no">No</button></td>
                    </tr>
                </table>
            </form>
        </div>

    </body>


</html>