<!DOCTYPE html>




<html lang="en">


    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Register - TravelTales</title>

        <link rel="stylesheet" href="/Styles/view-style-overall.css">
        <link rel="stylesheet" href="/Styles/view-style-navbars.css">

        <script type="text/javascript" src="/Scripts/view-script-register.js" defer></script>

    </head>


    <body>

        <%- include("../Partials/navbar-unsigned") %>

        <div id="bodycontainer">
            <h2>Sign Up</h2>
            <form>
                <table>
                    <tr>
                        <td>First Name:</td>
                        <td><input type="text" id="forename"></td>
                    </tr>
                    <tr>
                        <td>Last Name:</td>
                        <td><input type="text" id="surname"></td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td><input type="email" id="email"></td>
                    </tr>
                    <tr>
                        <td>Password:</td>
                        <td><input type="password" id="password"></td>
                    </tr>
                    <tr>
                        <td>Confirm Password:</td>
                        <td><input type="password" id="confirm"></td>
                    </tr>
                    <tr>
                        <td><button type="submit" id="submit">Register</button></td>
                    </tr>
                </table>
            </form>
        </div>

    </body>


</html>